
@import '../../style/scss.scss';
.hb-detail-list-box {
    column-count: 4;
    column-gap: 20px;
    margin-top: 20px;
    padding-bottom: 50px;
    .cover {
        @include cur;
        break-inside: avoid;
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
 }