
.hb-main {
    .hb-top-box {
        margin-top: 60px;
        background: $white;
        @include rel;
        @include bs;
    }
    .hb-head-box {
        @include abs;
        top: -40px;
        left: 10px;
        @include bs;
        background: $white;
        width: 150px;
        height: 40px;
        .logo {
            width: 140px;
            height: 140px;
            margin-top: 5px;
            margin-left: 5px;
        }
        .hb-fans-info {
            height: 50px;
            display: flex;

            .box{
                width: 74px;
                height: 50px;
                text-align: center;
                color: $gray;
            }
            .data {
                @include f(16);
                margin-top: 10px;
                font-weight: 700;
                line-height: 18px;
                color: $black;
            }
        }

        
    }
    .hb-info-box {
        height: 170px;
        margin-left: 180px;

        .name {
            @include f(24);
            font-weight: 700;
            margin-top: 15px;
            color: $black;
            display: inline-block;
            margin-right: 10px;
        }
        .introduction {
            color: $gray;
            span {
                margin-right: 10px;
            }
        }
        .about {
            @include f(14);
            margin-top: 5px;
        }
    }
    .hb-info-tabs {
        height: 50px;
        line-height: 50px;

        span {
            @include f(14);
            @include cur;
            padding: 0 20px;
        }
        span.actice {
            font-weight: 700;
            color: $black;
            
        }
    }
    
}
