@charset "utf-8";



//清楚标签默认样式;
@mixin label(){
    /* 清楚标签默认样式  */
    html {margin: 0; padding: 0; border: 0;}
    body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;box-sizing: border-box; }
    ol, ul, li { list-style: none; }
    body {line-height: 1.5; background: white; font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif; font-size: 12px; color: $font-base-color;}
    table,tr, th, td { border-collapse: collapse; margin: 0; padding: 0;  font-size: 100%; vertical-align: baseline;}
    caption, th, td { text-align: left; font-weight: normal; float: none !important; }
    table, th, td, select, img, input,object{ vertical-align: middle;}
    :focus { outline: 0;}
    input,select{margin:0;}
    a { color: $a-hover-color; text-decoration: none; }
    a:hover { text-decoration:underline; }
    p,a,td{word-wrap:break-word;word-break:break-all;}
    img { border: none;vertical-align:top; }
    textarea{ resize:none;border:1px solid $border-color;}
    textarea:hover{border-color:$border-color;}
    input[type="text"],input[type="button"]{-webkit-appearance: none;border-radius: 0;font-family:'Microsoft Yahei','黑体', Arial, Helvetica, sans-serif;}
    input[type="text"]{border:solid 1px $border-color; border-radius:0;}
    dfn {font-style: normal;font-family: Arial;}
}

//浮动;
@mixin fl{
    float:left;
}
@mixin fr{
   float:right;
}
@mixin float($dir:left){
    float:$dir;
}
//清除浮动;
@mixin clear(){
    *zoom:1;
    &:after{
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }
}

// 边框阴影
@mixin bs {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.02), 0 4px 8px 0 rgba(0,0,0,.02)
}
@mixin bs-hover {
    @include bs;
    @include cur;
    opacity: 0.9;
    transition: opacity .24s ease-in-out,transform .24s ease-in-out,box-shadow .36s ease-in-out;
    &:hover {
        opacity: 1;
        box-shadow: 0 1px 3px rgba(0,0,0,.02),0 8px 16px -4px rgba(0,0,0,.17);
        transform: translateY(-1px);
    }
}

// 文字特效
@mixin ts {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

// 蒙版渐变
@mixin gblg {
    background: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));

}

// 按钮
@mixin button {
    border:1px solid $border-color;
    @include border-radius(2px);
    padding: 4px 15px;

    &:hover {
        border-color: $border-hover-color;
        background-color: $border-color;
    }
}

// flex
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

///////////////////////////////////////////////
// 循环初始字体大小:                         //  
//  @end   : 结束字体大小(数字),必须输;      //
//  @begin : 开始字体大小(数字),可以省略;    //
//  @un    : 字体单位(字符串),可以省略;      //
//  例子   : @include base-fonts(32);        //
///////////////////////////////////////////////
@mixin base-fonts( $end:100,$begin:12,$un:px ){
    @if( TestNum( $begin,$end ) ){
        @for $i from $begin through $end {
            @if( $i%2 == 0 ){
                .f-#{$i}{ font-size:$i+$un; }
            }
        }
    }
}


//判断是否为数字;
@function TestNum( $num1,$num2 ){
    @if ( not unitless($num1) or not unitless($num2) ){
        @debug "其中数值有单位";
        @return false;
    }
    @if ( type-of($num1) == number and type-of($num1) == number ) {
        @return true;
    }@else{
        @debug "其中有值不数字";
        @return false;
    }
}

//一行显示。。。。;
@mixin ellipsis{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
// 强制折行;
@mixin break-word{
    word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word; /*支持IE，chrome，FF*/
}
//设置字体;
@mixin f($size:12,$un:px){font-size:$size+$un; }
//设置字体;
@mixin fa($family:'Microsoft Yahei'){ font-family:$family,'宋体','黑体';}
@mixin tal{ text-align: left; }
@mixin tar{ text-align: right; }
@mixin tac{ text-align: center; }
@mixin text-align( $dir:left ){text-align: $dir;}
@mixin over{overflow:hidden; }
@mixin ofv{overflow:visible !important;}
@mixin hide{ display:none !important;  }
@mixin unseen{ opacity: 0;}
@mixin block{ display:block; }
@mixin abs{ position: absolute; }
@mixin rel{ position: relative; }
@mixin cur{ cursor: pointer; }
@mixin def{ cursor:default;}



//css3过渡;
@mixin tran($name:all,$time:2s){
    -webkit-transition : $name $time;  /* Safari 和 Chrome */
       -moz-transition : $name $time;  /* Firefox 4 */
        -ms-transition : $name $time;  /* IE */
         -o-transition : $name $time;  /* Opera */
            transition : $name $time;
}

//css3;
@mixin css3( $style,$frames ){
    -webkit-#{$style} : $frames;  /* Safari 和 Chrome */
       -moz-#{$style} : $frames;  /* Firefox 4 */
         -o-#{$style} : $frames;  /* Opera */
            #{$style} : $frames;
}

//透明;
@mixin opa($num:0.8){
    opacity : $num;
    filter  : alpha(opacity=$num*100);
}

//css3圆角;
@mixin border-radius($radius: 5px) {
  -webkit-border-radius : $radius;  /* Safari 和 Chrome */
     -moz-border-radius : $radius;  /* Firefox 4 */
      -ms-border-radius : $radius;  /* IE */
       -o-border-radius : $radius;  /* Opera */
          border-radius : $radius;
}

//改变默认选中颜色
@mixin selection( $bg: $a-hover-color,$color:$white,$obj:0 ){
    
    @if( type-of($obj) == number ){

        ::selection {
            background:$bg; 
            color:$color;
        }
        ::-moz-selection {
            background:$bg; 
            color:$color;
        }
        ::-webkit-selection {
            background:$bg; 
            color:$color;
        }
        ::-ms-selection {
            background:$bg; 
            color:$color;
        }
        ::-o-selection {
            background:$bg; 
            color:$color;
        }
        
    }@else{

        .#{$obj}::selection {
            background:$bg; 
            color:$color;
        }
        .#{$obj}::-moz-selection {
            background:$bg; 
            color:$color;
        }
        .#{$obj}::-webkit-selection {
            background:$bg; 
            color:$color;
        }
        .#{$obj}::-ms-selection {
            background:$bg; 
            color:$color;
        }
        .#{$obj}::-o-selection {
            background:$bg; 
            color:$color;
        }
        
    }
}

///////////////////////////////////////////////////////////////////////////
// css3动画,只能写在调用页面,配合.css3( @style,@frames )使用;            //
// 例子 :                                                                //
//  @include keyframes(animation-name) {                                 //               
//      0% {                                                             //
//         #{$browser}transform: translate3d(100%, 0, 0);                //
//      }                                                                //
//      100% {                                                           //
//          #{$browser}transform: translate3d(0%, 0, 0);                 //
//      }                                                                //
//   }                                                                   //  
//   .className{ @include css3(animation,animation-name 5s infinite); }  //
///////////////////////////////////////////////////////////////////////////
$browser: null;
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browser: '-webkit-' !global;
        @content;
    }
    @-moz-keyframes #{$animationName} {
        $browser: '-moz-' !global;
        @content;
    }
    @-ms-keyframes #{$animationName} {
        $browser: '-ms-' !global;
        @content;
    }
    @-o-keyframes #{$animationName} {
        $browser: '-o-' !global;
        @content;
    }
    @keyframes #{$animationName} {
        $browser: '' !global;
        @content;
    }
} 

///////////////////////////////////////////////////////////////////////////
// css3 滚动条;                                                          //
// 例子 :                                                                //
//  @include scrollbar(scrollbar-track){                                 //
//    #{$browser}box-shadow: inset 0 0 6px rgba(0,0,0,0.3);              //
//    background-color: #F5F5F5;                                         //
//  };                                                                   //
//  @include scrollbar(scrollbar){                                       //
//    width: 12px;                                                       //
//  };                                                                   //
//  @include scrollbar(scrollbar-thumb){                                 //
//    #{$browser}border-radius: 10px;                                    //
//    #{$browser}box-shadow: inset 0 0 6px rgba(0,0,0,.3);               //
//    background-color: #fbd0c9;                                         //
//  };                                                                   //
///////////////////////////////////////////////////////////////////////////
@mixin scrollbar($style){
    ::-webkit-#{$style}{
        $browser: '-webkit-' !global;
        @content;
    }
    ::-moz-#{$style}{
        $browser: '-moz-' !global;
        @content;
    }
    ::-ms-#{$style}{
        $browser: '-ms-' !global;
        @content;
    }
    ::-o-#{$style}{
        $browser: '-o-' !global;
        @content;
    }
    ::#{$style}{
        $browser: '' !global;
        @content;
    }
}


//打包默认样式;
@mixin base($content:950,$unit:px){
     @include label();
    /* 默认浮动 */
    .fl{
        @include fl;
    }
    .fr{
        @include fr;
    }
    .clear{
        @include clear;
    }
    /* 显示隐藏 */
    .unseen {
        @include unseen;
    }
    .hide{ 
        @include hide;
    }
    .show{ 
        @include block;
    }
    /* 文本方向 */
    .tal{
        @include tal;
    }
    .tar{ 
        @include tar;
    }
    .tac{ 
        @include tac;
    }
    /* 截取 */
    .over{
        @include over;
    }
    .ofv{
        @include ofv;
    }
    /* 定位 */
    .abs{
        @include abs;
    }
    .rel{ 
        @include rel;
    }
    /* 鼠标手势 */
    .cursor{ 
        @include cur;
    }
    .def{
        @include def;
    }
    /* 。。。。 */
    .ellipsis{
        @include ellipsis;
    }
    /* 强制折行 */
    .break-word{
        @include break-word;
    }
    /* 默认颜色 */
    .colr-red{color: $red;}
    .colr-blue{color: $blue;}
    .colr-gray{color: $gray;}
    .colr-yellow{color: $yellow;}
    .colr-org{color: $orange;}
    /* 默认背景颜色 */
    .bg-red{ background-color: $red;}
    .bg-blue{background-color: $blue;}
    .bg-gray{background-color: $gray;}
    .bg-yellow{background-color: $yellow;}
    .bg-org{background-color: $orange;}
    /* 默认置灰 */
    .disabled{ background-color:$disabled; }
    /* 默认字体 */
    @include base-fonts(32,$un:$unit);
    /* margin  padding */
    .mt0 { margin-top: 0 !important; }

    .mb0 { margin-bottom: 0 !important; }
 
    .ml0 { margin-left: 0 !important; }

    .mr0 { margin-right: 0 !important; }

  
    /* 边框 */
    .bor-t{ border-top:solid 1px $border-color;}
    .bor-l{ border-left:solid 1px $border-color;}
    .bor-r{ border-right:solid 1px $border-color;}
    .bor-b{ border-bottom:solid 1px $border-color;}
    .bor-t0{ border-top:none!important;}
    .bor-l0{ border-left:none!important;}
    .bor-r0{ border-right:none!important;}
    .bor-b0{ border-bottom:none!important;}
    .bor-das{ border:1px dashed $border-color;}
    .bor-dot{ border:1px dotted $border-color;}
    .border{ border:1px solid $border-color;}
    /* box */
    .center {text-align: center;}
    .content{ width: $content+$unit; margin:0 auto; }
}