@charset "utf-8";//解决中文注释问题;

// 宽度
$main-width: 1200;

// color
$base-color: #F90;
$font-base-color: #666;

$border-color: #ededed;
$border-hover-color: #d9d9d9;
$body-bg-color: #f5f5f5;
$a-hover-color: #005EA7;

$gray:#999;
$white: #fff;
$black: #333;
$orange:#f60;
$yellow:#fff000;
$blue:#5fb3d2;
$red:#ff546a;
$brown: #9e7e6b;
$disabled:#ccc;

// 引入字体
@import './font/iconfont.scss';


//引入底层库;
@import './base.scss';

//默认初始化;
@include base($content:$main-width);

body {
    background: $body-bg-color;
}
/*方法*/
.f12{
    @include f(12);
}

/*css3圆角*/
.border-radius{
    @include border-radius(5px);
}

/*css3过渡*/
.transitions{
    @include tran();
}

/*css3旋转*/
.rotate60{
    @include css3(transform,rotate(60deg));
}

/*旋转keyframes*/
@include keyframes(rotates) {
   0% {
        #{$browser}transform:rotate(0deg);
    }
    100% {
        #{$browser}transform:rotate(360deg);
    }
}

/*引用旋转keyframes*/
.keyframes-rotates{ @include css3(animation,starts 8s linear infinite .3s ); }