
.hb-list-box {
        
    margin:20px 0 0 -20px;
    padding-bottom: 30px;
    .hb-list-board {
       

        padding: 10px;
        background: $white;
        @include border-radius(3px);
        @include bs-hover;
        @include over;
        @include rel;
        @include fl;
        width: 285px;
        height: 450px;
        margin: 0 0 20px 20px;
        

        .cover {
            @include rel;
            @include bs;
            @include over;
            background-size: cover;
            height: 395px;
            img {
                width: 100%;
            }
            .over {
                @include abs;
                top: 0;
                left: 0;
                right: 0;
                height: 150px;
                background: red;
                @include gblg;
            }
            .title , .follow {
                @include abs;
                @include ts;
                top: 30px;
                left: 12px;
            }
            .title {
                top: 10px;
                @include f(14);
            }
        }
        .original {
            @include abs;
            z-index: 2;
            right: 0;
            top: 20px;
            color: $white;
            background: rgba(#ff6600,0.7);
            padding: 1px 10px;
        }
        .board-size {
            @include fr;
            @include button;
            margin-top: 10px;
            
        }
    }
    .hb-list-board:nth-child(3) {
        font-weight: normal;
    }
}